body {
	background-color: DarkCyan;
	color: white;
	font-family: "Open Sans Condensed";
}


a {
	text-decoration: none;
	font-family: Oswald;
	color: black;
}

a:not(.source-link) {
	padding-left: 20px;
	font-size: 20px;
	color: white;
}

a:hover {
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	color: blue;
}


h1 {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

#header {
	padding-bottom: 20px;
}

#body {
	padding-top: 3px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	color: black;
}

.italic {
	font-style: italic;
}